<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site_name }}</title>
    <link rel="stylesheet" href="https://matcha.mizu.sh/matcha.css">
</head>
<body>
    
    <h1 class=>{{ site_name }}</h1>
    <p>{{ site_description }}</p>
    <hr>
    <h1>Upload File Demo</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload</button>
    </form>
    <h2>Uploaded Files</h2>
    <ul>
        {% for document in documents %}
            <li>{{ document.title }} - <a href="{{ document.file.url }}">Download</a> - <a href="{{ document.file2.url }}">Download 2</a></li>
        {% endfor %}

        
    </ul>
    <p>
        Copyright: {{ copyright_info }}
    </p>
</body>
</html>