{% extends 'base.html' %}

{% block content %}

<div class="mx-auto w-50 shadow p-4 m-4">
  <h1>Contact Detail</h1>
{% comment %} <p><strong>ID:</strong> {{ task.id }}</p> {% endcomment %}
<p><strong>First Name:</strong> {{ data.first_name }}</p>
<p><strong>Last Name:</strong> {{ data.last_name }}</p>
<p><strong>Email:</strong> {{ data.email }}</p>
<p><strong>Phone:</strong> {{ data.phone }}</p>
<p><strong>Address:</strong> {{ data.address }}</p>

<br> <br>
<a class="btn btn-info" href="../../">Back</a>
</div>

{% endblock %}
