{% extends 'base.html' %} 
{% comment %} {% load static %} {% endcomment %}
{% block content %}

<div class="d-flex flex-wrap px-5 align-items-center">

  <div class="col-6">
    <h2>Welcome to our Company Database Website.</h2>
    
    <br><br>
    <p>
      Our employee data management system provides a seamless solution for storing and accessing critical employee information. With role-based access control, HR professionals can securely manage employee profiles, attendance, and performance records. The platform integrates with payroll and benefits systems, ensuring a streamlined process for managing employee compensation and perks. Powerful search tools and customizable filters make it easy to retrieve data, while robust reporting features offer valuable insights to support strategic decision-making.
    </p>
    <br>
    <a class="btn btn-info" href="#e-data">Employee's Data</a>
  
  </div>
  <div class="col-6">
<img class="w-100" src="https://img.freepik.com/premium-vector/teamwork-triumph-vector-illustration-business-team_1168402-1984.jpg" />
{% comment %} <img src="{% static 'header.jpg' %}" /> {% endcomment %}
  </div>
</div>



<div class="p-4">
  <div id="e-data" class="">
    <center><h4 class="text-success"> Result found: {{data | length}}</h4></center>
    <div class="row pt-5 gy-4">
      {% for post in data %}
      <div class="col-md-6 ">
        <div class="card shadow m-2">
          <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
              <p>Username: {{post.name.username}} </p>
              <p>Email: <a href="mailto:{{post.name.email}}">{{post.name.email}}</a> </p>
              
            </div>
          </div>
          <div class="card-body mx-4">
            <h5 class="card-title">Employee Name: {{post.name.first_name}} {{post.name.last_name}}</h5>
            <p class="card-text">Salary : {{post.salary}} ৳</p>
            <p class="card-text">Address : {{post.address}}</p>
            <p class="card-text">Mobile No : <a href="tel:5{{post.phone}}p000">{{post.phone}}</a></p>
            <p class="card-text">Gender : {{post.gender}}</p>
            <p class="card-text">Designation : {{post.designation}}</p>
            <p class="card-text">Description : {{post.description}}</p>
          </div>
          <div class="card-footer text-muted">
            <center>Company Profile Created on: {{post.created_on}}</center>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}